/* button {
    background-color: green;
    font-size: 16px;
    padding: 15px 30px;
    color: rgb(224, 203, 203);
    width: 100px;
}

.count {
    font-size: 50px;
    padding: 15px 30px;
}

.reset {
    background-color: red;
} */